$background-color: rgb(243,243,243);

a, a:hover {
  text-decoration: none;
}

.app-header {
  background-color: $background-color;
}

.app-menu {
  .menu-item {
    text-align : center;
    i {
      display: block;
    }
  }
}